<% title "Which tasks do you want to do today?" %>
<% stylesheet "todays_activities" %>

<% form_tag('choose', :method=>'post', :multipart=>true) do %>
    <div class="table_1">
        <% @activities.each do |activity| %>
            <div class="table_row_1 clearfix table_border_top">
                <div class="todays_activities_cell_checkbox"><%=check_box(:activity, activity.id)%></div>
                <div class="todays_activities_cell_description"><%=label(:activity, activity.id, activity.description) %></div>
            </div>
            <div class="table_row_1 clearfix table_border_bottom">
                <div class="todays_activities_cell_checkbox table_border_1">&nbsp;</div>
                <div class="todays_activities_cell_progress table_border_1">
                  Progress:
                  <%=label(:activity, activity.id, activity.actual) %>
                  /
                  <%=label(:activity, activity.id, activity.estimate) %>
                </div>
            </div>
        <% end %>
        <% submit_tag 'Apply' %>
    </div>
<% end %>
