body {
  background-color: #991133;
  font-family: Verdana, Helvetica, Arial;
  font-size: 14px;
}

a img {
  border: none;
}

a {
  color: #CC0000;
}

.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}

#container {
  width: 75%;
  margin: 0 auto;
  background-color: #FFF;
  padding: 20px 40px;
  border: solid 1px black;
  margin-top: 20px;
}

#flash_notice, #flash_error {
  padding: 5px 8px;
  margin: 10px 0;
}

#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6;
}

#flash_error {
  background-color: #FCC;
  border: solid 1px #C66;
}

.fieldWithErrors {
  display: inline;
}

#errorExplanation {
  width: 400px;
  border: 2px solid #CF0000;
  padding: 0px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: 0;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 8px;
}

#errorExplanation ul {
  margin: 2px 24px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: disc;
}

div.left_float {
   float: left;
}

/* float clearing for IE6 */
* html .clearfix{
  height: 1%;
  overflow: visible;
}

/* float clearing for IE7 */
*+html .clearfix{
  min-height: 1%;
}

/* float clearing for everyone else */
.clearfix:after{
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
  font-size: 0;
}

.table_1
{
}

.table_1 > div > div {
    float: left;

    padding: 6px;
}

.table_header_row_1 > div {
    text-align: center;
    font-weight: bold;
}

.table_row_1 > div{
    text-align: left;
    vertical-align: middle;
    height: 6em;
}

.table_tl_1 {
    border: 1px dotted;
}

.table_tc_1, .table_tr_1 {
    border-top: 1px dotted;
    border-right: 1px dotted;
    border-bottom: 1px dotted;
}

.table_ml_1, .table_bl_1 {
    border-left: 1px dotted;
    border-right: 1px dotted;
    border-bottom: 1px dotted;
}

.table_mc_1, .table_mr_1, .table_bc_1, .table_br_1 {
    border-right: 1px dotted;
    border-bottom: 1px dotted;
}